*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
}

img {border-radius: 30px; border: 3px solid aliceblue;}
h1{font-size: 5rem;}
h2{font-size: 3rem;}
h3{font-size: 2rem;}
a{font-size: 1.6rem; text-decoration: none; color: #fff;}
p{
    font-size:1.6rem;
}

body{
    font-size: 3rem;
    background-color: grey;
}

.Colors{
    text-decoration: none;
    color: yellow;
    background: linear-gradient(#e66465, #9198e5);
}

